
{% extends 'includes/layout.html' %}

{% block title %}
  {{pgname}} - {{company}}
{% endblock %}


{% block body %}


<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>ADMIN Changelog</h1>
    <p class="lead">Здесь будут посты об изменениях на сайте</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Новый пост</a>
  </div>
  <br>

  <div class="bg-light p-5 rounded">
    {% for post in posts %}
      <p><a href='{{ post.slug }}'>{{ post.title }}</a></p>
    {% endfor %}
  </div>
</main>


{% endblock %}
