
{% extends 'includes/layout.html' %}

{% block title %}
  {{pgname}} - {{company}}
{% endblock %}


{% block body %}


<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>ADMIN Changelog</h1>
    <p class="lead">Здесь будут посты об изменениях на сайте</p>
    <a class="btn btn-lg btn-primary" href="" role="button" data-toggle="modal" data-target="#modalCreatePost">Новый пост</a>
  </div>
  <br>


  <div class="bg-light p-5 rounded">

    <!-- BEGIN Posts list -->
    {% for post in pages.items %}
      <p><a href="{{ url_for('admin.post_detail', slug=post.slug) }}">{{ post.title }}</a></p>
    {% endfor %}
  <!-- END Posts list -->

    <!-- НАЧАЛО Разбиение по страницам -->
    <nav>
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination">
        <li {% if not pages.has_prev %} class="page-item disabled" {% endif %}>
          <a class="page-link" href="./?page={{pages.prev_num}}">Предыдущая</a>
        </li>
        {%for page in pages.iter_pages() %}
          <li {% if page == pages.page %} class="page-item active" {% endif %} ><a class="page-link" href="./?page={{page}}">{{page}}</a></li>
        {% endfor %}
        <li {% if not pages.has_next %} class="page-item disabled" {% endif %}>
          <a class="page-link" href="./?page={{pages.next_num}}">Следующая</a>
        </li>
      </ul>
    </nav>
    <!-- КОНЕЦ Разбиение по страницам -->

  </div>
</main>

<!-- BEGIN Create post modal -->
<div class="modal fade" id="modalCreatePost" tabindex="-1" aria-labelledby="modalCreatePostLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <form method="POST" action="{{url_for('admin.index')}}">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreatePostLabel">Новый пост</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          {% for field in form %}
          <div class="form-group">
            {{field.label(class='col-from-label')}}
            {{field(class='form-control')}}
          </div>
          {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-success">Создать</button>
      </div>
      </form>

    </div>
  </div>
</div>
<!-- END Create post modal -->

{% endblock %}
