<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <title>Login</title>
</head>
<body>
  {% from "security/_macros.html" import render_field_with_errors, render_field, render_field_with_errors_2,render_field_2  %}
  {% include "security/_messages.html" %}
  <div class="box">
  <h2>{{ _('Login') }}</h2>
  <form action="{{ url_for_security('login') }}" method="POST">

    {{ login_user_form.hidden_tag() }}
    {{ render_field_2(login_user_form.email, class='inputBox', id='login') }}
    {{ render_field_with_errors(login_user_form.password, class='inputBox', id='password') }}
    {{ render_field_with_errors_2(login_user_form.remember) }}
    {{ render_field(login_user_form.next) }}
    {{ render_field(login_user_form.submit) }}
    <p>
      <a class="google-auth-submit" type="button" name="google-auth" href="#">
        <span class="google-container">
          <img src="static/img/login_user/google.svg" alt="" style="height: 18px; margin-right: 8px; width: 18px;">
          <span>Войти с помощью Google</span>
        </span>
      </a>
    </p>

  </form>
  </div>
</body>
</html>
