body {
  background: #505352;
}


.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
  font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}
.pagination li a:hover {
	background: #666;
  color: #fff
}
.pagination li.active a, .pagination li.active a.page-link {
	background: #03A9F4;
}
.pagination li.active a:hover {
	background: #0397d6;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}


/* Post */
.accordion {
	margin-bottom: 10px;
  width: 100%;
}
.accordion .card {
	border-radius: 0;
	border-width: 1px 0 1px 0;
}
.accordion .card:first-child {
	border-top: none;
}
.accordion .card .card-header {
	background: #505352;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 0;
	margin-bottom: -2px;
	font-family: "Roboto", sans-serif;

}
.accordion .card-header:hover {
	background: #23384e;
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header .btn {
	font-size: 1.04rem;
	font-weight: 500;
	width: 100%;
	text-align: left;
	position: relative;
	top: -2px;
}
.accordion .card-header i {
	float: right;
	font-size: 1.3rem;
	font-weight: bold;
	position: relative;
	top: 5px;
}
.accordion .card-header button:hover {
	color: #23384e;
}
.accordion .card-body {
	background: #eaeaea;
	color: #595959;
}
.accordion .highlight {
	color: #fff;
	background: #202d3c !important;
}

.accordion .card-header h2 a{
  text-decoration: none;
}

.btn-link {
  color: #fff;
}

.btn-link:hover {
  color: #fff;
}
