
{% extends 'includes/layout.html' %}

{% block title %}
  {{pgname}} - {{company}}
{% endblock %}


{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded txtblock">
    <h1>Таблица клиентов подключеных к смс оповещению</h1>
    <br>
    <p class="lead"> Здесь можно отредактировать:</p>
    <ul>
      <li><span class="font-comic-bold">DeliveryDate</span> - дату отправки СМС сообщения</li>
      <li><span class="font-comic-bold">Message</span> - текст СМС сообщения</li>
      <li><span class="font-comic-bold">isEnabled</span> - включить(Yes)/выключить(No) отправку сообщения</li>
    </ul>

    <a class="btn btn-lg btn-primary" id="syncBtn" href="#" role="button">Sync data from Jira <i class="fa fa-refresh ml-2" aria-hidden="true"></i></a>

    <!-- <button type="submit" class="btn btn-primary btn-sm editable-submit"><i class="bi bi-check" aria-hidden="true"></i></button> -->
  </div>

  <div class="table-responsive">
    <table class="table mytable-striped mydeliverysmstb compact">
      <thead  class="mytable-header">
          <tr>
              <th>ID</th>
              <th>Фамилия</th>
              <th>Имя</th>
              <th>Issuenum</th>
              <th>Phone</th>
              <th>Email</th>
              <th>DeliveryDate</th>
              <th>Message</th>
              <th>isEnabled</th>
              <th>LastSendDate</th>
              <th>lastMessageId</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody class="mytbody">
          {% for row in smsdelivery %}
          <tr>
              <td data-pk="{{row.id}}">{{row.id}}</td>

              <td data-name="lastname" class="lastname no_underline" data-type="text" data-pk="{{row.id}}">{{row.lastname}}</td>
              <td data-name="name" class="name no_underline" data-type="text" data-pk="{{row.id}}">{{row.name}}</td>

              <td data-name="issuenum" class="issuenum no_underline" data-type="text" data-pk="{{row.id}}"><a href="https://jira.engilogic.ru/projects/PRO/issues/PRO-{{row.issuenum}}">PRO-{{row.issuenum}}</a></td>
              <td data-name="phone" class="phone" data-type="text" data-pk="{{row.id}}">{{row.phone}}</td>
              <td data-name="email" class="email no_underline" data-type="text" data-pk="{{row.id}}">{{row.email}}</td>
              <td data-name="deliverydate" class="deliverydate no_underline" data-type="date" data-pk="{{row.id}}">{{row.deliverydate}}</td>

              <td data-name="message" class="message no_underline" data-type="textarea" data-pk="{{row.id}}">{{row.message}}</td>

              <td data-name="isEnabled" class="isEnabled no_underline" data-type="select" data-pk="{{row.id}}">{{row.isEnabled}}</td>
              <td data-name="lastsenddate" class="lastsenddate" data-type="date" data-pk="{{row.id}}">{{row.lastsenddate}}</td>
              <td data-name="lastMessageId" class="lastMessageId" data-type="text" data-pk="{{row.id}}">{{row.lastMessageId}}</td>
              <td data-name="status" class="status" data-type="text" data-pk="{{row.id}}">{{row.status}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

</main>
{% endblock %}
