<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script src="/admin/static/js/dynamic.js"></script>


<script>
  $(document).ready(function(){

    $('.summernote').summernote({
      placeholder: 'Тык-тык-тык-тык...',
      tabsize: 2,
      height: 150
    });

  	// Activate tooltip
  	$('[data-toggle="tooltip"]').tooltip();

  	// Select/Deselect checkboxes
    itemCheckboxEvent();


    $('.btn-editform').on("click", handlerBtnEditRecord);
    $('.btn-add-record').on("click", handerBtnAddRecord);
    $('.btn-remove-record').on("click", handlerBtnRemoveRecord);
    $('.btn-glbl-remove-record').on("click", handlerBtnGlobalRemoveRecord);

  });
</script>
